<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>831682974471-5is5qrlmk3sirn2j270d20qapmou3mja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.831682974471-5is5qrlmk3sirn2j270d20qapmou3mja</string>
	<key>API_KEY</key>
	<string>AIzaSyChb8yYI8MLeapJfNS3MkTFVqxDRFEQXW8</string>
	<key>GCM_SENDER_ID</key>
	<string>831682974471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.justfabcodes.babyNames</string>
	<key>PROJECT_ID</key>
	<string>flutter-baby-names-855a3</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-baby-names-855a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831682974471:ios:425529e30d8a73bd</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-baby-names-855a3.firebaseio.com</string>
</dict>
</plist>